# fly.toml app configuration file generated for sensei-api on 2025-12-17T16:04:15-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sensei-api'
primary_region = 'ord'

[build]
  dockerfile = "Dockerfile"

[deploy]
	release_command = "uv run alembic upgrade head"

[env]
  SENSEI_SCOUT_CACHE_DIR = "/data/scout"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "15s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"

[[mounts]]
  source = "sensei_data"
  destination = "/data"
  initial_size = "1gb"
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
